:root {
  --text-clr: #000;
  --section-bg-clr: #fff;
  --border-clr: #c6c6c6;
  --bg-clr: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8125rem;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

/* Typography */

h1 {
  font-size: 0.8125rem;
  font-weight: 700;
}

h2 {
  font-size: 0.75rem;
  font-weight: 400;
}

.post__like-count,
.post__username {
  font-weight: 700;
}

/* Layout */

header {
  position: sticky;
  top: 0;
}

.container {
  margin: 0 auto;
  background-color: var(--section-bg-clr);
  border-bottom: 1px solid var(--border-clr);
}

.oldagram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container,
.post__img {
  max-width: 23.4375rem;
}

.oldagram__logo {
  max-width: 8rem;
  margin: 0.375rem 0.625rem;
}

.oldagram__avatar {
  margin: 1rem;
}

.post__profile,
.post__body {
  padding: 0.625rem;
}

.post__profile {
  display: flex;
  justify-content: left;
  align-items: center;
}

.avatar {
  max-width: 2.125rem;
  border-radius: 50%;
}

.post__info {
  padding-left: 0.5rem;
  line-height: 0.375em;
}

.icon {
  width: 1.5rem;
  margin-right: 0.875rem;
  cursor: pointer;
}

.icon:hover,
.icon:focus {
  opacity: 0.5;
}

.post__like-count,
.post__caption {
  padding-left: 0.25rem;
}

.post__like-count {
  margin: 0.625rem 0;
}

.post__caption {
  margin: 0.25rem 0;
}
